<!--<div>customer-form works!</div>-->
<h2>Create Customer</h2>

<div *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form (ngSubmit)="onSubmit()">

    <div>
        <label>Customer Name</label>
        <input type="text" name="customerName" [(ngModel)]="customer.customerName" />
    </div>
    <div>
        <label>Customer Address</label>
        <input type="text" name="customerAddress" [(ngModel)]="customer.customerAddress" />
    </div>
    <div>
        <label>Customer Email</label>
        <input type="email" name="customerEmail" [(ngModel)]="customer.customerEmail" />
    </div>
    <div>
        <label>Customer Phone</label>
        <input type="phone" name="customerPhone" [(ngModel)]="customer.customerPhone" />
    </div>
    <div>
        <label>Customer City</label>
        <input type="text" name="customerCity" [(ngModel)]="customer.customerCity" />
    </div>
    <div>
        <label>Customer State</label>
        <input type="text" name="customerState" [(ngModel)]="customer.customerState" />
    </div>
    <div>
        <label>Customer Region</label>
        <input type="text" name="customerRegion" [(ngModel)]="customer.customerRegion" />
    </div>
    <div>
        <label>Customer Postal Code</label>
        <input type="text" name="customerPostalCode" [(ngModel)]="customer.customerPostalCode" />
    </div>
    <button type="submit">Create</button>
    <!--<button type="submit" (click)="onClick()">Create2</button>-->
</form>
