<!--<div>customer-form works!</div>-->
<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Customer</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form *ngIf="errorMessage === ''" (ngSubmit)="onSubmit()" #customerForm="ngForm" class="border rounded p-5 w-50 mb-10 mx-auto">

    <div class="mb-3">
        <label class="form-label">Customer Name*</label>
        <input required #customerName="ngModel" class="form-control" type="text" name="customerName" [(ngModel)]="customer.customerName" />
        <div *ngIf="customerName.invalid && (customerName.touched || customerName.dirty)">
            <div class="text-danger" *ngIf="customerName.errors?.['required']">Customer Name is required.</div>
        </div>
        
    </div>
    <div class="mb-3">
        <label class="form-label">Customer Address*</label>
        <input required #customerAddress="ngModel" class="form-control" type="text" name="customerAddress" [(ngModel)]="customer.customerAddress" />
        <div *ngIf="customerAddress.invalid && (customerAddress.touched || customerAddress.dirty)">
            <div class="text-danger" *ngIf="customerAddress.errors?.['required']">Customer Address is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer Email*</label>
        <input required email #customerEmail="ngModel" class="form-control" type="email" name="customerEmail" [(ngModel)]="customer.customerEmail" />
        <div *ngIf="customerEmail.invalid && (customerEmail.touched || customerEmail.dirty)">
            <div class="text-danger" *ngIf="customerEmail.errors?.['required']">Customer Email is required.</div>
            <div class="text-danger" *ngIf="customerEmail.errors?.['email']">Customer Email is invalid.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer Phone*</label>
        <input required #customerPhone="ngModel" class="form-control" type="phone" name="customerPhone" [(ngModel)]="customer.customerPhone" />
        <div *ngIf="customerPhone.invalid && (customerPhone.touched || customerPhone.dirty)">
            <div class="text-danger" *ngIf="customerPhone.errors?.['required']">Customer Phone is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer City*</label>
        <input required #customerCity="ngModel" class="form-control" type="text" name="customerCity" [(ngModel)]="customer.customerCity" />
        <div *ngIf="customerCity.invalid && (customerCity.touched || customerCity.dirty)">
            <div class="text-danger" *ngIf="customerCity.errors?.['required']">Customer City is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer State*</label>
        <input required #customerState="ngModel" class="form-control" type="text" name="customerState" [(ngModel)]="customer.customerState" />
        <div *ngIf="customerState.invalid && (customerState.touched || customerState.dirty)">
            <div class="text-danger" *ngIf="customerState.errors?.['required']">Customer State is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer Region*</label>
        <input required #customerRegion="ngModel" class="form-control" type="text" name="customerRegion" [(ngModel)]="customer.customerRegion" />
        <div *ngIf="customerRegion.invalid && (customerRegion.touched || customerRegion.dirty)">
            <div class="text-danger" *ngIf="customerRegion.errors?.['required']">Customer Region is required.</div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer Postal Code*</label>
        <input required #customerPostalCode="ngModel" class="form-control" type="text" name="customerPostalCode" [(ngModel)]="customer.customerPostalCode" />
        <div *ngIf="customerPostalCode.invalid && (customerPostalCode.touched || customerPostalCode.dirty)">
            <div class="text-danger" *ngIf="customerPostalCode.errors?.['required']">Customer Postal Code is required.</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="customerForm.invalid">{{isEditing? 'Edit' : 'Create'}}</button>
    <!--<button type="submit" (click)="onClick()">Create2</button>-->
</form>
